<html>
    {% extends "bootstrap/base.html" %}

    {% block title %}Flasky{% endblock %}
    
    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                 data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/decision">Inputs</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
<h1>Inputs for Decision</h1>
<form method = "POST" action="{{ url_for('scoreDecision') }}">
  {{ form.job.label }}
  {{ form.job }}
  {{ form.loan.label }}
  {{ form.loan }}
  {{ form.mortdue.label }}
  {{ form.mortdue }}
  {{ form.delinq.label }}
  {{ form.delinq }}
  {{ form.derog.label }}
  {{ form.derog }}
  {{ form.clage.label }}
  {{ form.clage }}  
  {{ form.ninq.label }}
  {{ form.ninq }}
  {{ form.clno.label }}
  {{ form.clno }}
  {{ form.yoj.label }}
  {{ form.yoj }}
  {{ form.reason.label }}
  {{ form.reason }}
  {{ form.income.label }}
  {{ form.income }}
  {{ form.value.label }}
  {{ form.value }}
  {{ form.currentDebt.label }}
  {{ form.currentDebt }}
  <input type="submit" value="Submit">
</form>
{% endblock %}
</body>
</html>